.expenses-tables {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    @media (max-width: $desktop-breakpoint) {
        flex-direction: column;
    }
}

.expenseList {
    margin: 2rem 0 3rem;
    width: 48%;
    height: 100%;
    box-shadow: 0 0 15px 2px $black-dark, 0 0 10px 4px $black;
    align-self: flex-start;
    @media (max-width: $desktop-breakpoint) {
        width: 80%;
        margin-left: 10%
    }
}