.loginPage {
    background: teal;
    height: 100vh;
    width: 100vw;
    align-items: center;
    background: url('/images/bg.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
}

.loginBox {
    width: 25rem;
    background: fade-out(white , .15);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $s-size;
    border-radius: 1rem;
}
